<h1>All the cars in our LOT</h1>
@foreach (var car in Model) {
  <div class="car">
    <h1>@car.GetMake()</h1>
    <h2>@car.GetModel()</h2>
    <h2>@car.GetYear()</h2>
    <h3>@car.GetMiles()</h3>
    <h3><a href="/cars/@car.GetId()">More info</a></h3>
    <form action="/buy" method="post">
      <input type="text" name="id" value="@car.GetId()">
      <button type="submit" name="button">Buy this car</button>
    </form>
  </div>
}
<h3><a href="/car/new/">Sell another car</a></h3>
